a {
  text-decoration: none;
  color: inherit;
}

.header-section-scroll {
  position: sticky;
  top: 0;
  z-index: 10;
  margin-left: auto;
  left: 0;
  right: 0;
  animation: header-scroll 0.3s forwards;
}

@keyframes header-scroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* HEADER */
.header {
  padding: 22px 0;
  align-items: center;
}

.header-scroll {
  padding: 9px 0;
  align-items: center;
}

#header-sandwich-button {
  font-size: 22px;
  margin-left: 10px;
  width: 25px;
  box-sizing: border-box;
}

.logo {
  width: 137px;
}

.search-bar {
  text-align: left;
  width: 558px;
  z-index: 3;
  flex-direction: column;
}

.searchbox {
  top: 37px;
  width: 100%;
  border: 1px solid #0082e6;
  border-top: none;
  overflow-x: hidden;
  height: 300px;
  border-bottom-left-radius: 25px;
  box-sizing: border-box;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.4);
}

.searchbox > p {
  margin-left: 16px;
}

.searchbox hr {
  margin-top: 0;
  width: 95%;
  margin-left: 16px;
}

.searchbox-content li {
  width: 100%;
  padding: 7px 0 8px 16px;
  color: #666;
  cursor: pointer;
}

.searchbox-content li:hover {
  background-color: rgb(207, 206, 206);
}

.searchbox-content li:last-of-type {
  margin-bottom: 25px;
}

.searchbox-content > li img {
  width: 15px;
  padding-right: 15px;
}

#searchForm {
  box-sizing: border-box;
  border: 1px solid #0082e6;
  border-radius: 25px;
  z-index: 3;
}

#search {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 0;
  margin-left: 15px;
  color: #717171;
  border-top-left-radius: 15px;
}

#submitBtn {
  border: none;
  background: transparent;
  font-weight: lighter;
  color: #0082e6;
  padding: 0 13px;
}

#submitBtn:hover {
  background-color: #ebf5ff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.profile-icon {
  width: 135px;
}

.favourite-icon {
  width: 97px;
}

#favCounter,
#cartCounter {
  top: -5px;
  left: 12px;
  border-radius: 50%;
  width: 12.5%;
  background: linear-gradient(to right, #4a60c1, #3985e0);
}

#cartCounter {
  background: linear-gradient(to right, #cf3f50, #fe2d34);
  width: 8%;
  top: -3px;
  left: 14px;
}

.total-cart-text {
  display: flex;
  padding: 5px;
  border-top: 1px solid rgba(173, 169, 169, 0.699);
  border-bottom: 1px solid rgba(173, 169, 169, 0.699);
  color: #888;
}

.total-cart-text > p {
  flex: 1;
  text-align: left;
  padding-left: 5px;
}

.total-cart-text .total-cart-text .shopping-cart {
  width: 145px;
  padding-right: 20px;
}

.profile-icon,
.favourite-icon,
.shopping-cart {
  align-items: center;
  color: #444444;
}

.shopping-cart > p:last-of-type,
.favourite-icon > p:last-of-type {
  padding: 0 5px 0 10px;
}

.logged-user-icon > p {
  padding: 5px;
  background-color: #2196f3;
  border-radius: 100%;
  color: white;
  text-align: center;
  width: 20px;
  height: 20px;
}

.guest-user-icon {
  background-color: inherit;
  color: #2196f3;
  font-size: 24px;
}

.fa-heart {
  font-size: 22px;
  color: #2196f3;
}

.fa-shopping-cart {
  color: #2196f3;
}

.shopping-cart-icon {
  width: 24px;
  color: #2196f3;
}

.header > div > p:first-of-type {
  padding-left: 5px;
}

.profile-icon:hover,
.favourite-icon:hover,
.shopping-cart:hover {
  color: black;
}

.invisible-filler {
  visibility: hidden;
  height: 19px;
}

.profile-icon .invisible-filler {
  height: 10px;
}

.dropdown-container {
  transform: translate(-20%, 53%);
  z-index: 6;
}

.dropdown-menu {
  flex-direction: column;
  animation: mover 0.5s forwards;
  border: 1px solid #e5e5e5;
  z-index: 2;
  box-shadow: 0px 0px 21px -5px rgba(153, 153, 153, 1);
  cursor: initial;
}

@keyframes mover {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.line {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
}

.line strong {
  background-color: white;
}

.profile-nav > p:first-of-type {
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.profile-nav li {
  padding: 8px 10px;
  color: #444444;
}

.profile-nav li:hover {
  background-color: #e9ebee7a;
}

.dropdown-menu li:last-of-type {
  padding-top: 5px;
  margin-top: -5px;
}

.profile-icon:hover .checked,
.favourite-icon:hover .favourite-nav,
.shopping-cart:hover .shopping-cart-nav,
.categories-menu > li:hover .white-space,
.options-panel > div:hover > .dropdown-menu,
.benefits > div:hover > .dropdown-menu {
  display: block;
}

.favourite-nav,
.shopping-cart-nav,
.guest-nav {
  padding: 10px;
  color: #444444;
  z-index: 2;
}

.profile-nav {
  width: 200px;
}

.guest-nav {
  margin-top: -10px;
  width: 300px;
  text-align: left;
  margin-top: 12px;
  margin-left: -40px;
}

.mt {
  margin-top: -20px;
}

.guest-nav > div > p {
  margin-left: 15px;
}

.guest-nav > div:first-of-type {
  display: flex;
}

.guest-nav .shopping-cart-btn {
  width: 150px;
}

a[href="#register"] {
  color: #005eb8;
  margin-left: 20px;
}

a[href="#register"]:hover {
  color: #004381;
  text-decoration: underline;
}

.fa-user-tie {
  font-size: 30px;
  padding: 0 5px 0 5px;
}

.dropdown-overflow {
  overflow: auto;
  max-height: 300px;
}

.dropdown-overflow::-webkit-scrollbar {
  width: 0;
}

.nav-dropdown-item {
  min-height: 50px;
  border-top: 1px solid rgba(173, 169, 169, 0.699);
  padding: 7px 15px;
}

.nav-dropdown-item:hover {
  background-color: #e9ebee55;
}

.nav-dropdown-title {
  padding: 0 10px;
  text-align: left;
}

.regular-price-dropdown {
  font-size: 9px;
  text-decoration: line-through;
  text-align: end;
}

.price-dropdown sup,
.regular-price-dropdown sup {
  font-size: 7px;
  vertical-align: super;
}

.soon-added-text {
  padding: 10px;
  align-self: center;
}

.go-to-favs {
  border-top: 1px solid rgb(195, 192, 192);
  position: sticky;
  bottom: 0px;
  padding: 15px 0;
}

.go-to-favs > a {
  padding: 5% 15%;
}

.go-to-favs:hover {
  color: #00376c;
  text-decoration: underline;
}

.nav-dropdown-img {
  width: 50px;
  height: fit-content;
  align-self: center;
}

.shopping-cart-nav {
  width: 230px;
  top: -1px;
}

.shopping-cart-nav > p:first-of-type {
  padding: 0;
}

.shopping-cart-nav .shopping-cart-btn {
  margin-top: 0px;
}

.nav-close-button {
  font-weight: lighter;
  text-align: right;
}

.hidden-options > i.nav-close-button {
  margin-left: 75px;
  font-weight: bold;
  color: #444444;
  cursor: pointer;
}

.hidden-options > i.nav-close-button:hover {
  color: #005eb8;
}

.shopping-cart-nav i.nav-close-button {
  margin-left: 190px;
}

.shopping-cart-nav .hidden-options {
  background: none;
}

.hidden-options i {
  font-size: 10px;
  padding-right: 3px;
}

.hidden-options {
  background-color: #fbfdff;
  margin-left: 70px;
  opacity: 0;
  bottom: -10px;
  left: 0;
  transition: all 0.2s ease;
}

.hidden-options > p:first-of-type {
  color: #005eb8;
  cursor: pointer;
}

.hidden-options > p:first-of-type:hover {
  color: #00376c;
  text-decoration: underline;
}

.nav-dropdown-item:hover > .hidden-options {
  opacity: 1;
  bottom: 0;
}

#sh-cart-btn {
  position: sticky;
  bottom: 0;
  padding-top: 10px;
}

.shopping-cart-btn a {
  align-items: center;
}

.shopping-cart-btn {
  background: linear-gradient(to right, #4a60c1 10%, #3985e0);
}

.cart-items-count {
  padding-right: 10px;
}

.shopping-cart-btn p {
  display: inline;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.shopping-cart-btn:hover {
  background: linear-gradient(to right, #054e92 10%, #2063b4);
}

.shopping-cart-btn i {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: -10px;
  padding: 5.5px 12px 5.5px 10px;
  background-color: #fe2d34;
}

/* NAVIGATION */

.nav-bar {
  width: 100%;
  background: linear-gradient(
    to right,
    #ff1d25 5%,
    #a0328c 35%,
    #7040a4 45%,
    #4359c7 55%,
    #0082e6 70%
  );
}

.nav-container a {
  padding: 2px 10px;
  border-radius: 16px;
  border: transparent 1px solid;
  margin: 8px 0 8px 4px;
}

.nav-container a:hover {
  border: 1px solid white;
}

.nav-container i {
  margin-right: 10px;
}

.fa-headset {
  font-size: 18px;
}

/* CATEGORIES */

#categories.categories-btn-open {
  font-weight: 600;
  align-items: center;
  color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 10px;
  padding-bottom: 5px;
  margin: 5px 5px 0 0;
}

#categories.categories-btn-close {
  font-size: 14px;
  align-items: center;
  color: black;
  border-radius: 5px;
  padding: 0 10px;
  margin: 5px;
  margin-left: 0;
}

.empty-space {
  width: 200px;
}

.white-space {
  top: 0px;
  right: -1px;
  z-index: 5;
  width: 4px;
  height: 34px;
}

.categories-menu li > a {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 13px;
}

.categories-menu li:last-of-type .white-space {
  height: 39.5px;
}

.categories-menu li:first-of-type .white-space {
  top: -1px;
}

.categories-menu li:last-of-type a {
  padding-bottom: 12.5px;
}

.categories-menu {
  width: fit-content;
  height: fit-content;
}

.categories-menu li a img {
  width: 18px;
  padding-right: 10px;
}

.categories-menu > li:hover {
  color: #005eb8;
  border-top: 1px solid rgba(216, 216, 216, 0.726);
  border-bottom: 1px solid rgba(216, 216, 216, 0.726);
}

.select-categories {
  position: relative;
  border-top: 0;
  box-shadow: 0px 3px 4px 0px rgba(148, 146, 146, 0.75);
}

.select-categories-dropdown {
  position: absolute;
  border-top: 0;
  box-shadow: 0px 3px 4px 0px rgba(148, 146, 146, 0.75);
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@keyframes fff {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll {
  position: sticky;
  top: 60px;
  text-align: left;
}

.main-slideshow {
  height: 447px;
}

.main-slideshow .fa-chevron-left,
.main-slideshow .fa-chevron-right {
  font-size: 25px;
  color: #2980d1c7;
  line-height: 450px;
  width: 40px;
}

.main-slideshow .fa-chevron-left {
  left: 0.5%;
}

.main-slideshow .fa-chevron-right {
  right: 0.5%;
}

.main-slideshow .fa-chevron-left:hover,
.main-slideshow .fa-chevron-right:hover {
  color: #005eb8;
}

.radio-buttons {
  bottom: 8%;
  right: 3%;
}

.radio-buttons input {
  width: 12px;
  cursor: pointer;
}

.category-menu {
  position: absolute;
  text-align: left;
  top: 0;
  width: 961px;
  height: 100%;
  left: 239px;
  z-index: 3;
  box-shadow: -1px 0px 4px -1px rgba(158, 158, 158, 0.452);
}

.category-menu:hover,
.categories-menu li:hover + div.category-menu {
  display: flex;
}

.categories-banner {
  height: -webkit-fill-available;
}

.category-menu a {
  padding-bottom: 6px;
  font-size: 13px;
}

.category-menu a:hover {
  text-decoration: underline;
  color: #004381;
}

.category-menu a span:hover {
  color: #005eb8;
}

.first-column,
.second-column,
.third-column,
.fourth-column {
  flex-direction: column;
  padding: 14px 18px 0 18px;
  width: inherit;
}

.second-column {
  margin: 0 10px;
}

.close-ad-btn {
  top: 0;
  right: 0;
}

.fa-times {
  color: #00aecd;
  padding: 2px 4px;
}

.red-label {
  background-color: #ef2809;
  padding: 0 6px;
  border-radius: 2px;
}

.green-label {
  background-color: #090;
  padding: 0 6px;
  border-radius: 2px;
}

.category-menu .red-label:hover,
.category-menu .green-label:hover {
  color: white;
}

/* OPTIONS PANEL */

.options-panel {
  margin: 20px auto;
}

.options-panel a {
  display: flex;
  align-items: center;
  width: auto;
}

.options-panel div > a > p:last-of-type {
  padding-right: 5px;
}

.options-panel img {
  padding: 19px 15px 19px 25px;
  width: 55px;
}

.options-panel .dropdown-menu {
  width: 300px;
  top: 80px;
  left: -20px;
  padding: 10px;
}

.options-panel .dropdown-menu p,
.benefits .dropdown-menu p {
  font-size: 12px;
  padding-bottom: 10px;
}

.options-panel .dropdown-menu a,
.benefits .dropdown-menu a {
  font-size: 12px;
  color: #005eb8;
}

.options-panel .dropdown-menu a:hover,
.benefits .dropdown-menu a:hover {
  text-decoration: underline;
  color: #00376c;
}

/*FOCUS BAR*/

#focus-main div {
  align-self: center;
}

.focus-section {
  padding: 0;
  background-color: rgb(166, 68, 177);
}

#focus-image {
  display: block;
  width: 100%;
  max-width: 600px;
}

#section-button {
  padding: 5px 10px;
  border: none;
  line-height: 20px;
}

#section-button:hover {
  color: #005eb8;
}

#navbar-sections {
  padding-top: 7px;
  margin: -7px 0 13px 0;
}

#navbar-sections li {
  vertical-align: bottom;
  width: 125px;
  list-style-type: none;
  padding-right: 8px;
}

#navbar-sections a {
  padding: 0 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  height: 40px;
  justify-content: center;
}

#navbar-sections a:hover {
  text-decoration: underline;
}

#navbar-sections span {
  align-self: center;
}

.section-bars {
  padding-top: 20px;
}

/*MOBILE BAR*/

.technology-nav {
  width: 300px;
  background-color: #f4f8fb;
}

.technology-nav ul {
  padding: 10px 20px;
}

.technology-nav a {
  color: rgb(0, 42, 82);
}

.technology-nav a:hover {
  text-decoration: underline;
  color: #005eb8;
}

.a-type {
  font-family: 400;
  margin: 6px 0px 6px 10px;
}

.a-title a {
  text-decoration-style: solid;
}
.a-title,
.a-type {
  margin: 6px 0;
}

.technology-menu {
  width: 300px;
}

.technology-menu li {
  padding: 0px 15px;
}

.technology-menu a {
  display: inline-block;
  border-bottom: 1px #f4f8fb solid;
  width: 240px;
  padding: 13px 10px;
}

.technology-menu a:hover {
  text-decoration: underline;
}

.technology-menu li:last-child {
  border: none;
}

.technology-image img {
  width: 600px;
  height: 100%;
}

.category {
  padding-bottom: 15px;
}

.section-bars h2 {
  font-size: 25px;
}

.benefits a {
  text-decoration: none;
  color: #005eb8;
}

.benefits a:hover {
  color: rgb(0, 42, 82);
}

.benefits span {
  padding: 0px 7px 0px 7px;
}

.benefits {
  display: inline-block;
  align-self: flex-end;
}

.benefits > div {
  display: inline-block;
  height: 30px;
}

.benefits .dropdown-menu {
  width: 250px;
  top: 30px;
  left: -60px;
  padding: 10px;
}

/*BULLETIN*/

#bulettin-image {
  width: 400px;
}

#check-bulettin {
  padding: 24px 0px 50px 440px;
  background: linear-gradient(
    to right,
    #ff1d25 5%,
    #a0328c 35%,
    #7040a4 45%,
    #4359c7 55%,
    #0082e6 70%
  );
  height: 168px;
}

#check-bulettin h3 {
  font-size: 32px;
}

#check-bulettin p {
  font-size: 11.9px;
  margin-bottom: 30px;
}

.bulletin-inputs {
  padding-top: 20px;
}

.bulletin-form {
  padding: 0;
  border-radius: 25px;
  border: 1px solid #be2007;
  padding: 5px 10px;
  margin: 10px 5px 10px 0;
}

#check-bulettin input {
  width: 200px;
  height: 20px;
  color: rgb(102, 102, 102);
  text-align: start;
}

#check-bulettin button {
  background-color: rgb(239, 40, 9);
  padding: 10px 5px;
  width: 200px;
  border: none;
}

#check-bulettin button:hover {
  background-color: #be2007;
}

/*FOOTER*/

footer {
  width: 100%;
  background-color: rgb(231, 239, 248);
  padding: 15px 0px;
}

.footer-nav div {
  width: 305px;
  padding: 0px 10px;
}

.footer-title {
  color: rgb(57, 89, 195);
  font-size: 18px;
}

.footer-category {
  color: rgb(136, 136, 136);
}
.footer-category a:hover {
  text-decoration: underline;
}
/*MARKETPLACE*/

.marketplace {
  margin-top: 40px;
  height: auto;
  padding: 0;
  background-color: rgb(0, 91, 195);
}

.marketplace-nav {
  padding: 40px 20px;
  height: 215px;
}

#marketplace-banner {
  top: 0;
  right: 0;
}

.marketplace-nav h2 {
  font-size: 32px;
}

.marketplace-nav ul {
  padding-left: 20px;
  font-size: 16px;
  list-style: disc;
}

#btn-marketplace {
  width: 315px;
  border: 2px solid rgb(235, 52, 36);
  border-radius: 24px;
  padding: 7px 12px;
  background-color: unset;
}

#btn-marketplace:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: rgb(235, 52, 36);
}

/*BRANDS*/

#title-brand {
  padding-bottom: 15px;
}

.top-brands ul {
  display: flex;
  border-bottom: 1px solid rgb(68, 64, 64, 0.1);
  padding-bottom: 2px;
}

.top-brands span {
  padding: 13px 30px;
}

#topBrands ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px 0;
}

.brand-bar {
  border-bottom: 1px solid rgb(68, 64, 64, 0.1);
}

#fashionBrands .brand-bar {
  border-bottom: none;
}

#topBrands li {
  border-right: 1px solid rgb(68, 64, 64, 0.1);
  padding-bottom: 2px;
}

#topBrands li:last-child {
  border-right: none;
}

#topBrands a {
  display: inline-block;
  padding: 50px 50px;
  color: rgb(102, 102, 102);
}

#most-popular,
.top-brands a:focus {
  display: inline-block;
  height: 100%;
  color: rgb(0, 94, 184);
  border-top: 2px solid rgb(13, 13, 141);
  box-shadow: 2px 0px 6px 0 rgba(0, 0, 0, 0.2);
}

.top-brands a:hover {
  color: rgb(0, 42, 82);
}

#topBrands img {
  width: 99px;
  height: 42px;
}

/*APP EMAG*/

.app-emag {
  padding: 0;
  padding: 15px 0px;
}

#app-emag div {
  padding: 0px 10px;
  width: 33.33%;
}

#app-emag .app-bars,
.footer-nav > div:first-of-type {
  padding-left: 0;
}

#app-emag p {
  font-size: 11.9px;
}

#send-message {
  padding-bottom: 20px;
  padding-top: 20px;
}

#send-message input {
  padding: 9px 12px;
  width: 250.33px;
  align-self: center;
  border: 1px solid rgb(68, 64, 64, 0.2);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#send-message button {
  border: none;
  width: 113px;
  padding: 9px 12px;
  align-self: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#send-message button:hover {
  background-color: #004381;
}

#play-store a {
  display: flex;
  align-self: center;
}

#play-store a:first-child {
  margin-right: 20px;
}

/* LOGIN AND REGISTER PAGE */

/* LOGIN */

.login-section .logo {
  margin-top: 40px;
}

.login-box {
  height: 550px;
  width: 400px;
  margin: 15px auto 20px auto;
  box-shadow: 1px 1px 8px -2px rgba(92, 90, 90, 0.75);
  border-radius: 5px;
}

.login-help {
  color: #0082e6;
  margin-bottom: 40px;
}

.login-info {
  color: #575757;
}

.login-info strong {
  cursor: auto;
}

.user-form {
  flex-direction: column;
}

.loginTitle {
  font-size: 30px;
  color: #999;
  padding: 30px 0;
}

#loginPage > p > a,
#registerPage > p > a {
  margin: 0;
  color: #005eb8;
}

#loginPage > p,
#registerPage > p {
  margin: 20px 0;
}

#registerPage > p > a:hover {
  color: #004381;
  text-decoration: underline;
}

.user-form input[required] {
  width: 70%;
  height: 25px;
  color: #495057;
  font-size: 13px;
  border: 1px solid #d5dee6;
  padding: 6px 35px 6px 10px;
  border-radius: 21px;
  overflow: visible;
  margin: 0 auto;
  margin-bottom: 20px;
  outline: none;
}

#loginBtn,
#registerBtn,
.social-buttons-login {
  background-color: #0082e6;
  width: 82%;
  margin: 0 auto;
  border-radius: 21px;
  height: 42px;
  color: white;
  outline: none;
  border: none;
}

.social-buttons-login {
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

.line-through {
  width: 100%;
  height: 1px;
  background-color: rgba(161, 159, 159, 0.356);
  border: none;
}

.social-login > div:first-of-type {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.social-login > div:first-of-type > p:first-of-type {
  display: inline-block;
  padding: 0 8px;
  color: #999;
}

#fb-button {
  background-color: #415a94;
}

#google-button {
  background-color: #cf553d;
}

#google-button:hover {
  background-color: #ae412b;
}

#fb-button:hover {
  background-color: #314471;
}

.social-title {
  flex: 1;
  padding-right: 50px;
}

#google-button .fa-google {
  padding: 0 7px 0 18px;
}

.social-buttons-login p.separator {
  font-size: 26px;
  font-weight: 100;
  padding-bottom: 5px;
  color: #999;
}

.social-buttons-login i {
  padding: 0 10px 0 20px;
  font-size: 16px;
}

#loginBtn:hover,
#registerBtn:hover {
  background-color: #0065b3;
}

.social-login > p {
  color: #999;
  margin: 0;
}

/* INFORMATION BANNER */
#success,
#error {
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  width: fit-content;
  position: fixed;
  align-items: center;
  top: 50px;
  right: 0;
  animation: info 3s both;
  z-index: 10;
}

#success {
  border: 3px solid #04af04;
  background-color: #19b83ba1;
}

#error {
  border: 3px solid red;
  background-color: #ff1e2680;
}

#success > i {
  padding-right: 10px;
  font-size: 28px;
}

#success > img {
  width: 28px;
  padding-right: 10px;
}

#success > i {
  color: red;
}

#error > p {
  color: black;
}

@keyframes info {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* ERROR PAGE */

#errorPic {
  margin-top: 30px;
  width: 500px;
}

#errorTitle {
  margin-top: -40px;
}

#errorDescription {
  font-size: 40px;
}

#errorText {
  color: #0065b3;
  width: fit-content;
  margin: 30px auto;
}

#errorText:hover {
  color: #004381;
  text-decoration: underline;
  cursor: pointer;
}
/*ITEMS CARDS*/
#play-store a:first-child {
  margin-right: 20px;
}

#cards-container,
#other-watched-container {
  width: 1200px;
  overflow: hidden;
  white-space: nowrap;
}

#other-watched-container div {
  cursor: pointer;
}

#other-watched-container div.items-card:hover,
#allProducts div.items-card:hover {
  box-shadow: rgba(206, 204, 204, 0.5) 1px 1px 6px 2px;
}

.items-card {
  margin: 5px 10px 5px 0px;
  padding: 30px 15px;
}

.items-card h5 {
  font-size: 13px;
  height: 54px;
  width: 161px;
  overflow: hidden;
  white-space: normal;
  background-color: rgba(0, 0, 0, 0);
  font-size: 13px;
  margin-bottom: 20px;
}

.items-card h5:hover {
  color: #005eb8;
}

.items-card span {
  bottom: 15px;
  left: 60px;
  color: rgb(239, 40, 9);
  font-size: 18px;
}

.items-card sup {
  top: 4px;
}

.items-card sub {
  font-size: 9px;
  bottom: 44px;
}

.line {
  text-decoration-line: line-through;
}

.regular-price small {
  margin-right: 7px;
}

.regular-price b {
  color: rgb(153, 153, 153);
}

.items-card small {
  margin-left: 13px;
}

.percentage {
  top: 5px;
  left: -3px;
  text-overflow: ellipsis;
  background-color: rgb(255, 66, 0);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 6px -2px;
  width: 72px;
  height: 16px;
  padding: 5px 5px;
  align-items: center;
  justify-content: center;
}

.tooltip,
.shop-card {
  right: 20px;
  width: 8px;
  height: 8px;
}

.tooltip {
  top: 5px;
}

/*TOOLTIP IN ITEMS*/

.shop-tooltip .shop-card {
  width: 24px;
  height: auto;
  right: 6px;
  top: 27px;
}

.tooltip .tooltiptext,
.shop-tooltip .tooltip-shopping-card {
  align-items: center;
  justify-content: center;
  visibility: hidden;
  height: 17px;
  background-color: #22a7f0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 5px 10px;
  margin-top: 3px;
  z-index: 1;
  top: -5px;
  right: 21px;
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 6px -2px;
}

.shop-tooltip .tooltip-shopping-card {
  top: 22px;
  right: 38px;
}

.tooltip:hover .tooltiptext,
.shop-tooltip:hover .tooltip-shopping-card {
  visibility: visible;
}

.tooltip .tooltiptext::after,
.shop-tooltip .tooltip-shopping-card::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -13px;
  border-width: 13px;
  border-style: solid;
  border-color: transparent transparent transparent #22a7f0;
}

.shop-card {
  top: 30px;
}

/*BUTTONS STYLE-FOCUS-BARS SECTION*/

.arrow-buttons {
  opacity: 0.6;
  width: 42px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 80px;
  top: 55%;
}

.arrow-buttons:hover {
  background-color: #fff;
  opacity: unset;
  box-shadow: 0px 0px 3px 0px rgba(179, 170, 179, 1);
}

#left-scroll {
  display: none;
  left: 135px;
}

#right-scroll {
  right: 140px;
}

#other-left-scroll {
  display: none;
  left: -55px;
  top: 47%;
}

#other-right-scroll {
  top: 47%;
  right: -50px;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

/*WATCHED ITEMS HISTORY SECTION*/

#watched-items div {
  margin-right: 10px;
  padding: 10px 7px;
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#watched-items div:hover {
  border: 2px solid rgb(125, 126, 126);
}

#watched-items div:active {
  border: 2px solid rgb(0, 94, 184);
}

.watched-images {
  width: 56px;
  height: 50px;
  align-self: center;
}

#watched-text {
  margin: 10px 0;
}

#delete-watched {
  color: rgb(136, 136, 136);
}

/*ANIMATION DELETING HISTORY*/
#animation-history {
  z-index: 1;
  margin-bottom: 100px;
}
#animation-container {
  justify-content: center;
}
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid black;
  width: 20px;
  height: 20px;
  animation: spin 0.4s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*OPEN ITEM SECTION*/

.item-image {
  height: 137px;
  width: 138px;
}

.title-article {
  font-size: 28px;
  border-bottom: 1px rgb(232, 232, 232) solid;
}

.fb-btn {
  background-color: rgb(66, 103, 178);
  margin-right: 5px;
  height: 20px;
}

.fb-btn i {
  padding-right: 3px;
}

.compare-box {
  background-color: rgb(245, 245, 245);
  color: rgb(68, 68, 68);
  padding: 0 10px;
}

.fb-btn,
.compare-box {
  padding: 2px 7px;
  vertical-align: middle;
}

.compare-box span {
  margin: 2px 0 0 2px;
}

.available-item {
  background-color: #090;
  padding: 4px 6px;
}

.items-id {
  color: #888;
  padding-top: 5px;
}

.slide {
  position: relative;
  left: -1000px;
  animation: slide 0.4s forwards;
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.wrapper:hover .slide {
  transition: 0.02s;
  left: 0;
}

.container-info p {
  color: rgb(153, 153, 153);
  padding-bottom: 4px;
}

.actives {
  color: rgb(249, 191, 59);
}

.inactives {
  color: black;
}

.review a:hover,
.change:hover {
  text-decoration: underline;
}

.prices {
  border-right: 1px rgb(236, 236, 236) solid;
  padding-right: 20px;
}

.lines {
  margin: 0 3px;
}

.delivery {
  color: rgb(153, 153, 153);
  padding-bottom: 10px;
}

.benefits-delivery {
  padding: 2px 0;
}

.benefits-containers {
  margin: 5px 0;
}

.benefits-containers span {
  padding: 0 3px;
}

.benef-strong {
  margin-left: 40px;
}

.add-shopping-cart {
  background-image: linear-gradient(
    to right,
    rgb(74, 96, 193) 10%,
    rgb(57, 133, 224)
  );
}

.add-shopping-cart:hover,
.continue:hover {
  background-image: linear-gradient(to right, #3147a8 10%, #206cc7);
}

.add-favourite:hover,
#newAccount:hover {
  background-color: #ebf5ff;
}

.cart-text,
.fav-text {
  padding: 10px 30px 10px 10px;
  align-self: center;
}

.cart,
.heart {
  padding: 10px 20px 10px 4px;
  font-size: 30px;
  width: 55px;
}

.add-favourite {
  border: 1px rgb(0, 94, 184) solid;
  font-size: 18px;
}

.cart {
  color: white;
  background-image: linear-gradient(
    to right,
    rgb(207, 63, 80),
    rgb(254, 45, 52)
  );
  border-bottom-right-radius: 37% 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.add-item-in {
  padding-left: 50px;
}

.stars {
  padding-bottom: 3px;
}

.main-image-item {
  width: 476px;
  height: 476px;
}

.images-item {
  width: 48px;
  height: 48px;
  padding: 5px;
  margin: 3px;
}

.images-item-hover {
  width: 48px;
  height: 48px;
  padding: 5px;
  margin: 3px;
  border: 1px solid rgb(0, 94, 184);
}

.images-item:hover {
  border: 1px solid rgb(0, 94, 184);
  border-radius: 3px;
}

.regular-pennies-item,
.current-pennies-item {
  top: 0;
}

.regular-price-item,
.regular-pennies-item,
.lv {
  padding-left: 2px;
  text-decoration: line-through;
}

.lv {
  padding-left: 12px;
  padding-right: 12px;
}

.regular-pennies-item {
  font-size: 9px;
}

.item-sale {
  color: rgb(153, 153, 153);
}

.current-price-item,
.current-pennies-item,
.lv-item {
  color: rgb(239, 40, 9);
}

.current-price-item {
  font-size: 25px;
}

.current-pennies-item {
  font-size: 16px;
}

.lv-item {
  font-size: 25px;
  padding-left: 20px;
}

/*SHOPPING CART PAGE SECTION*/

#cart-container h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 15px 0px 15px 15px;
}

.items-cart img {
  width: 120px;
  height: 120px;
}

.item-cont {
  width: 810px;
  box-shadow: rgb(187, 198, 204) 1px 1px 2px 0px;
  padding: 30px 25px 20px 25px;
  border-radius: 5px;
}

.number-container {
  align-items: baseline;
}

.main-cart-container {
  background-color: rgb(228, 241, 249);
  padding: 15px;
  width: 860px;
  margin-right: 20px;
}

.cart-inf {
  margin: 0 20px;
}

.cart-title {
  height: 37px;
  width: 350px;
  overflow: hidden;
}

.prices-cart {
  margin-left: 20px;
}

.buy-with {
  color: rgb(23, 99, 170);
}

.buy-with span {
  margin-left: 5px;
}

.cart-title:hover,
.buy-with span:hover,
.add-delete-cart span:hover {
  text-decoration: underline;
}

.select-cart {
  width: 51px;
  height: 32px;
  color: rgb(102, 102, 102);
  border: 1px rgb(187, 187, 187) solid;
  outline-color: rgb(102, 102, 102);
  margin-right: 10px;
}

.current-pennies-cart {
  padding-top: 3px;
}

.regular-pennies-cart,
.regular-lv-cart,
.cart-regular-price {
  text-decoration: line-through;
}

.regular-pennies-cart {
  font-size: 7.2px;
  padding-top: 3px;
}

.save-pennies {
  font-size: 8.2px;
}

.add-delete-cart span {
  color: rgb(23, 99, 170);
  padding-left: 4px;
}

.add-delete-cart {
  width: max-content;
}

#product-pennies {
  font-size: 8.2px;
  padding-top: 2px;
}

#cart-amount {
  margin: 10px 0;
}

#information-order,
#voucher {
  border-radius: 8px;
  box-shadow: rgb(227, 227, 227) 3px 3px 2px 0px;
  padding: 20px 20px;
  width: 260px;
}

#information-order {
  width: 260px;
}

#delivery-price {
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-bottom: 20px;
}

#delivery-price strong {
  color: #093;
  font-weight: 700;
}

.continue {
  background-image: linear-gradient(
    to right,
    rgb(74, 96, 193) 10%,
    rgb(57, 133, 224)
  );
  width: 240px;
  height: 36px;
  align-items: center;
}

.continue span {
  background-image: linear-gradient(
    to right,
    rgb(207, 63, 80),
    rgb(254, 45, 52)
  );
  height: 36px;
  font-weight: 300;
  width: 40px;
  border-bottom-right-radius: 18.66px 50px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.continue i {
  padding: 12px;
}

.continue strong {
  padding-left: 45px;
}

#addVoucher {
  height: 50px;
}

#addCode {
  display: block;
}

.inputs-voucher {
  width: 191px;
  height: 32px;
  border: 1px rgb(187, 187, 187) solid;
}

#addCode button {
  border: 1px rgb(23, 99, 170) solid;
  color: rgb(23, 99, 170);
}

#informationNav {
  margin-top: 65px;
}

.nav-menu-cart {
  background-image: linear-gradient(
    to right,
    #ff1d25 5%,
    #a0328c 35%,
    #7040a4 45%,
    #4359c7 55%,
    #0082e6 70%
  );
  height: 3px;
}

/* .total-price-container {
  display: flex;
  justify-content: flex-end;
} */

.cart-total-price {
  margin-left: 50px;
}

.total-pennies-cart {
  font-size: 8.2px;
  padding-top: 2px;
}

.total-cart h3 {
  font-size: 25px;
}

#cart-amount-pennies {
  font-size: 15px;
  padding-top: 3px;
  margin-right: 5px;
}

#footer-cart {
  border-top: #cecece 1px solid;
  height: 190px;
  padding: 0;
  padding-bottom: 5px;
}

.footer-content {
  color: #666;
}

.footer-options {
  width: 300px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.footer-options img {
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.footer-options p {
  color: #666;
}

.footer-options small,
.last-info small {
  color: rgb(153, 153, 153);
}

.footer-cart-title {
  color: rgb(187, 187, 187);
  padding-bottom: 5px;
}

.footer-link a {
  text-decoration: underline;
  color: rgb(102, 102, 102);
  margin-right: 3px;
}

/*EMPTY SHOPPING CART PAGE*/
#empty-cart {
  padding-top: 150px;
  background-image: url("../images/cart-page/empty-cart-background.png");
  background-size: cover;
  height: 300px;
}

.cart-page {
  background-color: rgb(250, 250, 250);
}

.empty-cart-title {
  font-size: 30px;
}

.to-home-page {
  margin-top: 30px;
}

#toHomePage {
  padding: 7px 12px;
}

#toHomePage:hover {
  background-color: #004485;
}

/*FAVOURITES PAGE*/
#favLogin a[href="#register"] {
  margin-left: 0;
}

#favLogin,
#favLoggedIn {
  padding: 10px 20px;
  width: 185px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px 0px;
  margin-right: 20px;
}

#favLogin h2 {
  font-size: 21px;
}

#favLogin p {
  margin-bottom: 40px;
}

#newAccount {
  border: 1px rgb(0, 94, 184) solid;
  padding: 7px 12px;
}

#newAccount,
#favLogin .continue {
  width: 185px;
  margin-bottom: 5px;
}

#favLogin .continue strong {
  padding-left: 20px;
}

#favLogin img {
  height: 122px;
}

.fav-images {
  width: 168px;
  height: 168px;
}

.fav-container {
  width: 958px;
  padding: 20px 10px;
}

.main-fav-cont {
  width: 958px;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-bottom: 20px;
}

.fav-p {
  width: 520px;
  border-right: 1px solid rgb(236, 236, 236);
}

.fav-p:hover {
  color: #005eb8;
  text-decoration: underline;
  cursor: pointer;
}

.fav-container .add-shopping-cart {
  width: 170px;
  height: 32px;
  margin: 10px 0px 10px 40px;
}

.fav-container .cart-text {
  padding: 0;
}

.fav-container .cart {
  display: flex;
  padding: 10px 0 10px 4px;
  width: 36px;
}

.fav-cart-icon {
  align-self: center;
}

.fav-info {
  width: 210px;
  align-items: flex-end;
  margin-left: 40px;
}

.info-cart {
  margin-bottom: 3px;
}

.fav-available {
  color: rgb(0, 153, 0);
}

.fav-regular-price,
.fav-regular-pennies,
.fav-regular-lv {
  text-decoration: line-through;
}

.fav-regular-pennies {
  font-size: 8.2px;
  padding-top: 2px;
}

.fav-current-price,
.fav-current-pennies,
.fav-current-lv {
  font-size: 18px;
  color: rgb(239, 40, 9);
}

.fav-delete i {
  padding-top: 3px;
}

.fav-delete span {
  margin-left: 5px;
}

.fav-delete span:hover {
  text-decoration: underline;
}

.fav-options {
  border-bottom: 1px #f4f8fb solid;
  padding: 10px 0;
  width: 185px;
  text-align: start;
}

.fav-options a:hover {
  color: #00376c;
  text-decoration: underline;
}

.fav-options p {
  text-align: center;
  padding: 40px 0;
  margin-left: 30px;
  width: 130px;
  background-color: #2196f3;
  border-radius: 50%;
  font-size: 32px;
}

#emptyFav {
  border: 1px solid #eee;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 15%);
  padding: 15px;
}

#emptyFav p {
  font-size: 21px;
  margin-top: 5px;
}

#emptyFav a {
  padding: 7px 12px;
  margin-top: 15px;
}

.footer-heart {
  color: red;
}

/* UTILS */
.triangle {
  width: 20px;
  top: -15px;
  left: 48%;
}

.options-panel .triangle-info,
.triangle-info {
  width: 20px;
  top: -15px;
  left: 48%;
  padding: 0;
}

.benefits .dropdown-lefter {
  left: -100px;
}

.fav-lefter {
  transform: translate(-30%, 53%);
}

/*CATEGORY PAGE*/

#categorySection div.content {
  display: flex;
  justify-content: space-between;
}

#clearFilters {
  visibility: hidden;
  margin-bottom: 15px;
}

#allProducts {
  width: 967px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 45px;
}

#allProducts div.items-card {
  padding: 30px 35px;
}

#allProducts div.items-card .tooltiptext {
  width: 117px;
}

#searchContainer {
  padding-bottom: 20px;
}

#searchContainer select,
#searchContainer input {
  border: 2px solid rgb(204, 204, 204);
  color: rgb(102, 102, 102);
}

#searchContainer select {
  margin-right: 6px;
  width: 230px;
  height: 31px;
}

#searchContainer input {
  margin-left: 40px;
  width: 600px;
}

.collapse,
.collapse-content {
  padding: 10px 15px;
  width: 196px;
}

.filter i {
  margin-top: 4px;
}

#springImg {
  background-image: url("../images/sections/spring.png");
  height: 109px;
}

.coll-prices {
  flex-direction: column;
}
